cfgv
colorama
commonmark
cycler
distlib
filelock
identify
importlib-metadata
kiwisolver
matplotlib
nodeenv
numpy
optimparallel
Pillow
platformdirs
pre-commit
Pygments
pyparsing
PyPDF4
python-dateutil
PyYAML
rich
seaborn
scipy
similaritymeasures
six
toml
typing-extensions
virtualenv
zipp
